.mapa {
    height: 45rem;
    margin-top: 5rem;

    &__heading {
        margin: 0;
        text-align: left;
        font-size: 2.8rem;
    }

    &__texto {
        font-size: 1.8rem;
        margin: 0;
    }
}