@use 'base/mixins' as m;
@use 'base/variables' as v;
@use 'sass:color';

.eventos-registro {
    @include m.contenedor;
    @include m.tablet {
        display: flex;
        gap: 2rem;
        align-items: flex-start;
    }

    &__listado {
        @include m.tablet {
            flex: 0 0 60%;
        }
    }

    &__grid {
        @include m.grid(1, 3rem);

        @include m.tablet {
            @include m.grid(2, 3rem);
        }
    }

    &__heading {
        &--conferencias,
        &--workshops {
            white-space: nowrap;
            @include m.texto-fluido(2rem, 4rem)
        }

        &--conferencias {
            color: v.$azul;
        }
        &--workshops {
            color: v.$secundario;
            margin-top: 6rem;
        }
    }

    &__fecha {
        margin: 6rem 0 1rem 0;
    }
}

.registro {
    background-color: color.scale(v.$gris-claro, $lightness: -3%);
    padding: 3rem;
    border-radius: 1rem;

    @include m.tablet {
        flex: 0 0 40%;
        position: -webkit-sticky;
        position: sticky;
        top: 3rem;
    }
    &__heading {
        margin: 0 0 3rem 0;
    }

    &__evento {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        &:nth-child(even) {
            background-color: color.scale(v.$gris-claro, $lightness: -8%);
        }
    }

    &__nombre {
        font-size: 2rem;
        font-weight: v.$regular;
        margin: 0;
    }

    &__eliminar {
        all: unset;
        color: v.$rojo;
        &:hover {
            cursor: pointer;
        }
    }

    &__texto {
        text-align: center;
    }

    &__regalo {
        margin-top: 3rem;
    }

    &__label {
        display: block;
        font-size: 2.2rem;
        font: v.$bold;
        margin-bottom: 1rem;
    }

    &__select {
        width: 100%;
        background-color: v.$blanco;
        border: solid 1px v.$gris;
        border-radius: 1rem;
        padding: 1rem;
    }
}