@use 'base/mixins' as m;
@use 'base/variables' as v;
@use 'sass:color';

.agenda {
    padding: 5rem 0;
    @include m.contenedor;
}

.eventos {
    $modificador: &;

    &__heading {
        color: v.$azul;
        margin: 5rem 0;
        text-align: left;
        font-size: clamp(2rem, -0.8rem + 8vw, 6rem);
    }

    &__fecha {
        color: v.$gris;
        margin: 3rem 0 1rem 0;
    }

    &--workshops {
        #{$modificador}__heading {
            color: v.$secundario;
        }

        .evento__informacion {
            background-color: v.$secundario;
            
            &:hover {
                background-color: color.scale(v.$secundario, $lightness: -15%);;
            }
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: rgba(v.$blanco, .5);
    }
}

.evento {

    &__hora {
        font-weight: v.$bold;
    }
    &__informacion {
        padding: 2rem;
        border-radius: 1rem;
        background-color: v.$azul;
        color: v.$blanco;
        transition: background-color .3s ease-in;

        &:hover {
            background-color: color.scale(v.$azul, $lightness: -15%);
        }
    }

    &__nombre {
        font-size: 2rem;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__introduccion {
        font-size: 1.6rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__autor-info {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        align-items: center;
    }

    &__autor-imagen {
        width: 5rem;
        background-color: v.$blanco;
        border-radius: 50%;
    }

    &__autor-nombre {
        font-weight: v.$bold;
    }

    &__agregar {
        @include m.boton(v.$blanco, v.$negro);
        margin-top: 2rem;

        &:disabled {
            opacity: .5;
            cursor: not-allowed;
        }
    }
}