@use 'base/mixins' as m;
@use 'base/variables' as v;
@use 'sass:color';

.paginacion {
    margin: 5rem 0 3rem 0;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include m.tablet {
        justify-content: right;
    }

    &__enlace {
        color: v.$azul;
        font-size: 2rem;

        &--texto {
            padding: 1rem;
            border-radius: .5rem;
            border: solid 1px v.$azul;
            transition: .3s ease-out;

            &:hover {
                background-color: v.$azul;
                color: v.$blanco;
            }
        }
        &--numeros {
            font-weight: v.$bold;
            display: none;
            @include m.tablet {
                display: inline;
            }
        }
        &--actual {
            color: color.scale(v.$azul, $lightness: -40%);
            font-weight: v.$bold;
            text-decoration: underline;
            display: none;
            @include m.tablet {
                display: inline;
            }
        }
    }
}