@use 'base/mixins' as m;
@use 'base/variables' as v;
@use 'sass:color';

.paginacion {
    margin: 5rem 0 3rem 0;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;

    @include m.tablet {
        justify-content: right;
    }

    &__enlace {
        color: v.$azul;
        font-size: 2rem;

        &--texto {
            padding: 1rem;
            border-radius: .5rem;
            border: solid 1px v.$azul;
            transition: .3s ease-out;

            &:hover {
                background-color: v.$azul;
                color: v.$blanco;
            }
        }
    }
}