@use 'base/mixins' as m;
@use 'base/variables' as v;
@use 'sass:color';

.listado-ponentes {
    @include m.reset-lista;
    @include m.grid(1, 1rem);

    &__ponente {
        color: v.$azul;
        border: solid 1px v.$azul;
        padding: 1rem;
        border-radius: 1rem;
        text-align: center;

        &:hover {
           cursor: pointer; 
        }

        &--seleccionado {
            @extend .listado-ponentes__ponente;
            background-color: v.$azul;
            color: v.$blanco;
        }
    }
}