@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.alerta {

    padding: 1.5rem 1.5rem 1.5rem 2.5rem;
    text-transform: uppercase;
    margin: 1rem 0;
    font-size: 1.3rem;
    font-weight: v.$bold;

    &__error {
        background-color: color.scale(v.$rojo, $lightness: 60%);
        border-left: .5rem solid v.$rojo;
        color: color.scale(v.$rojo, $lightness: -40%);
    }
    &__exito {
        background-color: color.scale(v.$verde, $lightness: 60%);
        border-left: .5rem solid v.$verde;
        color: color.scale(v.$verde, $lightness: -45%);
    }
}